{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <a aria-hidden="true">&times;;</a>
            </button>
        </div>
        
    {% endfor %}


    {% if codigo %}
        <h1>Hello {{ codigo }}</h1>
        <br/>
        {% for our_matriculas in our_matricula%}
            {{ our_matriculas.codigo }}. {{ our_matriculas.codEstudiante}} - {{ our_matriculas.codCurso}}<br/>
        {% endfor %}
    {% else %}
        <h1>Crear Nueva Matricula</h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            <label for="">Codigo de Matricula</label>
            {{ form.codigo(class="form-control") }}
            <br/>
            <label for="">Codigo Estudiante</label>
            {{ form.codEstudiante(class="form-control") }}
            <br/>
            <label for="">Nombre del Curso</label>
            <!-- {{ form.codCurso(class="form-control") }} -->
            
            <select class="form-select" name="codCurso" aaria-label=".form-select-lg example" required>
                <option selected></option>
                {% for curso in cur %}
                 <option value="{{curso.codigo}}">{{curso.nombre}}</option>
                {% endfor %}
            </select>


            <br/>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>

        <br/>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Código Estudiante</th>
                <th scope="col">Código Curso</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for our_matriculas in our_matricula %}
              <tr>
                <th scope="row">{{ our_matriculas.codigo }}</th>
                <td>{{ our_matriculas.codEstudiante }}</td>
                <td>{{ our_matriculas.codCurso }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('update_matricula', codigo=our_matriculas.codigo) }}">editar</a>
                    <!-- <a class="btn btn-danger" href="{{ url_for('delete_matricula', codigo=our_matriculas.codigo) }}">eliminar</a> -->
                    <br>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>


    {% endif %}
{% endblock %}