{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <a aria-hidden="true">&times;;</a>
            </button>
        </div>
        
    {% endfor %}


    {% if codEstudiante  %}
        <h1>Hello {{ codEstudiante }}</h1>
        <br/>        
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">codigo</th>
                <th scope="col">codEstudiante</th>
                <th scope="col">codCurso</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for our_matriculas in our_matricula %}
              <tr>
                <th scope="row">{{ our_matriculas.codigo }}</th>
                <td>{{ our_matriculas.codEstudiante }}</td>
                <td>{{ our_matriculas.codCurso}}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('update_matricula', codigo=our_matriculas.codigo) }}">Editar</a>
                    <!-- <a class="btn btn-danger" href="{{ url_for('delete_matricula', codigo =our_matriculas.codigo) }}">Eliminar</a> -->
                    <br>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>         
    {% else %}
        <h1>Editar Matricula</h1>
        <br/>
        <form action="/matricula_edit/{{mat.codigo}}" method="POST">
            
            {{ form.hidden_tag() }}
            <label for="exampleFormControlInput1" class="form-label">Codigo de Matricula</label>
            <input type="text" class="form-control" name="codigo" value="{{mat.codigo}}" required>

            
            <br>
            <label for="exampleFormControlInput1" class="form-label">Codigo del Estudiante</label>
            <input type="text" class="form-control" name="codEstudiante" value="{{mat.codEstudiante}}" required>
            <br>
            <label for="exampleFormControlTextarea1" class="form-label">Nombre del curso</label>
            <!-- <input type="text" class="form-control" name="codCurso" value="{{mat.codCurso}}" required> -->
            <select class="form-select" name="codCurso" aaria-label=".form-select-lg example" required>
              <option selecetd value="{{curs.codigo}}">{{curs.nombre}}</option>
              {% for curso in cur %}
                <option value="{{curso.codigo}}">{{curso.nombre}}</option>

              {% endfor %}
            </select>

            <br/>
            <button type="submit" class="btn btn-warning">Actualizar</button>
            
        </form>
    {% endif %}
{% endblock %}